@model LoginPassword.Models.LoginPasswordd

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style=" margin-top: 0.32rem; font-size: 2rem; font-weight: 700; text-transform: capitalize; color: #05364d; ">Create</h2>

<form asp-controller="Home" asp-action="Create" method="post" class="mt-3">

    <div class="form-group">
        <label asp-for="@Model.Login" class="form-label"></label>
        <input asp-for="@Model.Login" placeholder="Login" type="text" class="form-control mb-3" />

        <label asp-for="@Model.Password" class="form-label"></label>
        <input asp-for="@Model.Password" placeholder="Password" type="text" class="form-control mb-3" />

        <label asp-for="@Model.Role" class="form-label"></label>

        @{
            if (Model.Role == LoginPasswordEnum.superAdmin)
            {
                <select asp-for="@Model.Role" asp-items="Html.GetEnumSelectList<LoginPasswordEnum>()" class="form-control mb-3">
                </select>

            }
            else
            { <select asp-for="@Model.Role" class="form-control mb-3">
                    <option value="@(LoginPasswordEnum.User)">@(LoginPasswordEnum.User)</option>
                </select>
            }
        }

    </div>

    <div class="mt-4">
        <button type="submit" class="btn btn-success">Create</button>
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Back to List</a>
    </div>

</form>








